.nav-bar-container {
    background-color: transparent;
    height: 15%;
    display: flex;
    width: 100vw;
}

.nav-links {
display: flex; 
list-style: none;
/* flex-direction: row; */
gap: 70px;
text-decoration: none;
padding: 0px;

}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-bar-image {
    padding: 20px;
    display: flex;
    height: 150px;
}

.nav-bar-image h2 {
    padding-left: 20px;
}

.Log-In-Sign-In {
    display: flex;
    padding: 40px;
    gap: 15px;
    align-items: center;
    font-weight: 500;

}

.Log-In-Sign-In button {
    background: linear-gradient(
        to bottom,
        #3FA32F 0%,
        #368C29 45%,
        #2C741F 100%
    );
    padding: 15px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
}

