

.hero-section h1 {
  font-size: 40px;
  align-self: center;
  justify-self: center;
  align-items: center;
  text-align: center;
  /* padding-left: 5%; */
}

.hero-section p {
  font-size: 18px;
  color: #6b7280;
  width: 80%;
  text-align: center;
  padding-top: 10px;
}

button {
    background: linear-gradient(
        to bottom,
        #3FA32F 0%,
        #368C29 45%,
        #2C741F 100%
    );
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* padding: 5%; */
}

.hero-section-heading span {
  color: #165610;
}

.hero-section-image img {
  width: 100%;
  padding: 30px;
    /* align-items: flex-end; */

}



.hero-section {
  display: flex;
  justify-content: space-between; /* pushes left + right */
  /* align-items: center; */

  /* padding: 5%; */
}

.hero-section-heading {
  flex: 1;
  padding-top: 2%;
  padding-left: 5%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 30px;
}

.hero-section-image {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* pushes image to the right */
}

.white-button {
  background: white !important;
  color: black;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-buttons-container {
  display: flex;
  gap: 10px;
}

#play-button {
  height: 25px;
  padding-right: 10px;
}

/* BENEFITS SECTION */

.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.benefits-info-box {
  background: white;
  width: 100%;
  min-height: 190px !important;
  height: 100%;
  padding: 20px;
  align-items: center;
  /* justify-content: center; */
  text-align: left;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.circle {
  background: #c2decb;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  flex-shrink: 0;   /* prevents it from shrinking */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  border: 1px solid #488630;
  margin: 10px;
}




@keyframes breathe {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes breathe-2 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.breathing {
  animation: breathe 4s ease-in-out infinite;
}

.breathing-2 {
  animation: breathe-2 4s ease-in-out infinite;
}

.breathing-2 {
  animation-delay: -2s;
}


.image-icons {
  height: 45px;

}

.bank{
  height: 45px;
  padding-bottom: 5px;
}

/* .circle .bank {
  width: 70px;
} */

.data-analysis {
  padding-top: 10px;
  height: 55px;
}

@media screen and (min-width: 340px) {
  .circle {
    height: 70px;
    width: 70px;
  }  
}

@media screen and (min-width: 768px) {
    .benefits-info-box {
      width: 75%;
      gap: 30px;
    }  

    p, .hero-section-heading p {
      font-size: 22px;
    }

    button {
      font-size: 20px;
      padding: 15px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    }

    .hero-section-image img {
      width: 75%;
      align-self: center;
      justify-self: center;
    }

    .hero-section-image {
      align-items: center;
      justify-items: center;
      justify-content: center;
    }

    .hero-section-heading h1 {
      font-size: 55px;
    }

    .circle {
      height: 100px;
      width: 100px;
    }

    .benefits-info-box img {
      height: 60px;
    }

    .data-analysis {
      height: 70px !important;
    }

}

@media screen and (min-width: 912px) {
    .hero-section {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    .benefits-section {
      display: flex;
      gap: 2% !important;
      flex-direction: row;
      /* gap: 10px !important; */
      padding: 50px;
    }

    .benefits-info-box {
      flex-direction: column;
      text-align: center;
      max-width: 360px;
      min-height: 280px !important;
      gap: 10px;
    }

    .circle {
      height: 100px;
      width: 100px;
    }

    .image-icons {
      height: 55px;
    }

    .data-analysis {
      height: 70px;
    }

    .bank {
      height: 60px;
    }

    .hero-section-heading h1 {
      font-size: 60px;
      text-align: center;
    }

    p {
      font-size: 22px;
    }

    .hero-buttons-container {
      gap: 40px;
    }

    .hero-section-heading p {
      text-align: center;
      /* padding: 0px; */
      width: 80%;
      font-size: 22px;
    }

    button {
      padding: 15px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    }
}

@media screen and (min-width: 1000px) {
      .hero-section-image {
        width: 100% !important;
        height: 100% !important;
      }
}

@media screen and (min-width: 1200px) {
    .hero-section {
      display: flex;
      flex-direction: row;
    } 
    
    .hero-section-heading h1{
      text-align: left !important;
    }

    .hero-section-heading p {
      text-align: left !important;
      width: 100%;
    }

    .hero-section-heading {
      padding: 40px;
    }

    .hero-section-image {
      width: 100% !important;
      min-width: 660px;
      padding: 0px !important;
      height: 100% !important;
    }
}

@media screen and (min-width: 1340px) {
  .hero-section-heading h1 {
    font-size: 80px;
    padding: 0px;
    width: 100%;
  }  

  .hero-section-heading p {
    width: 90%;
  }

  .hero-buttons-container {
    /* gap: 50px; */
  }

  button {
    padding: 15px;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
  }

  .hero-section-heading {
    align-items: flex-start;
    justify-items: left;
  }

}